.fill-image {
  height: 100% !important;
  border-radius: 1500px !important;
}

.jumboBoi {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.jumbotron {
  background-color: #041B33 !important;
}